div{
    display: flex;
}

body{
    background-color: rgb(255, 255, 255);
}

nav {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 10vh;
    width:100vw;
    opacity: 80%;
    top: 0;
    left: 0;
    flex:0;
}

.row{
    flex-direction: row;
}

.sidebar{
    left: 0;
    top: 0;
    height: 90vh;
    width: 10vw;
    opacity: 0.8;
    transition: width 0.3s ease-in;

}

.sidebar:hover{ /* Good for PC but not good for mobile */
    width: 20vw;
    background: linear-gradient(to left, white 40%, rgb(107, 89, 71, 0.1) 99%);
    
}

.sidebar:active{ /* Better for mobile, no need to long hold */
    width: 20vw;

}

.sidebar:focus-within{
    width: 20vw;
}

.sidebar:hover ~ main {
    filter: blur(3px) grayscale(100%) brightness(104%);
}

.sidebar:hover ~ nav {
    filter: blur(3px);
}


main{
    background-color: rgb(255, 255, 255);
    width: 90vw;
    opacity: 0.9;
    flex: 111;
}

footer{
    background-color: black;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: beige;
    opacity: 0.5;

}