div{
    display: flex;
}

body{
    background-color: rgb(255, 255, 255);
}

nav {
    font-size: xx-large;
    font-family: 'palatino';
    height: 10vh;
    width:100vw;
    opacity: 80%;
    top: 0;
    left: 0;
    flex:0;
    display: flex;
    flex-direction: row;
}

.row{
    flex-direction: row;
}

.sidebar{
    left: 0;
    top: 0;
    height: 90vh;
    width: 7vw;
    transition: width 0.3s ease-in-out;
    opacity: 0.8;
    flex-direction: column; /*ensures text goes downwards*/
    align-items: left;

    
    /*background-color: aqua;*/

}

.sidebar:hover{ /* Good for PC but not good for mobile */
    width: 15vw;
    
    /*background: linear-gradient(to top, white 40%, rgb(107, 89, 71, 0.1) 99%);*/
    
}

.sidebar:active{ /* Better for mobile, no need to long hold */
    width: 15vw;

}

.sidebar:hover ~ main {
    filter: blur(5px) grayscale(100%) brightness(104%);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.sidebar a{
    transition: transform 0.3s ease-in-out;
    
}

.sidebar a:hover{
    transform: translate(30px);
    /*font-weight: bold;*/
    background: linear-gradient(to left, rgba(0, 0, 0, 0.101) 1%, rgba(255, 255, 255, 0.708) 99%);
    filter: invert();
}

main{
    /*background-color: rgb(255, 255, 255);*/
    /*background-color: pink;*/

    width: 90vw;
    opacity: 0.9;
    flex: 111;

}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: beige;
    display: flex;
    flex-direction: row;
    

}

#arrow{
    width: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar:hover > #arrow {
    transform: rotate(-90deg);


}

